Package: asha
Version: 2.0.0-8
Architecture: all
Maintainer: CoCo <admin@.aelintra.com>
Installed-Size: 111
Depends: debconf (>= 0.5) | debconf-2.0, debconf (>= 0.2.26), pacemaker, drbd-utils, sipsak
Recommends: asterisk, mysql
Section: network
Priority: extra
Homepage: www.aelintra.com
Description: ASHA - a cluster builder for sail and asterisk
 A shorthand cluster builder for Pacemaker/Corosync Asterisk clusters.
